terraform/env/dev/.terraform.lock.hcl
terraform/env/dev/.terraform/terraform.tfstate
terraform/env/dev/.terraform/modules/ecr.ecr
terraform/env/dev/.terraform/modules/eks.eks
terraform/env/dev/.terraform/modules/eks.eks.kms
terraform/env/dev/.terraform/modules/modules.json
terraform/env/dev/.terraform/modules/vpc.vpc
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/aws/5.98.0/darwin_arm64/CHANGELOG.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/aws/5.98.0/darwin_arm64/LICENSE
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/aws/5.98.0/darwin_arm64/README.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/aws/5.98.0/darwin_arm64/terraform-provider-aws
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/cloudinit/2.3.7/darwin_arm64/CHANGELOG.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/cloudinit/2.3.7/darwin_arm64/LICENSE
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/cloudinit/2.3.7/darwin_arm64/README.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/cloudinit/2.3.7/darwin_arm64/terraform-provider-cloudinit
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/darwin_arm64/CHANGELOG.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/darwin_arm64/LICENSE
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/darwin_arm64/README.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/time/0.13.1/darwin_arm64/CHANGELOG.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/time/0.13.1/darwin_arm64/LICENSE
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/time/0.13.1/darwin_arm64/README.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/time/0.13.1/darwin_arm64/terraform-provider-time
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/tls/4.1.0/darwin_arm64/CHANGELOG.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/tls/4.1.0/darwin_arm64/LICENSE
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/tls/4.1.0/darwin_arm64/README.md
terraform/env/dev/.terraform/providers/registry.opentofu.org/hashicorp/tls/4.1.0/darwin_arm64/terraform-provider-tls
